## Q4.
### Run Apriori algorithm to find frequent itemsets and association rules<br>
### 1.1 Use minimum support as 50% and minimum confidence as 75%<br>
### 1.2 Use minimum support as 60% and minimum confidence as 60 %<br>

In [1]:
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("Market_Basket_Optimisation.csv")
df.head()

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.fillna('!',inplace=True)
trans = df.values.tolist()

In [4]:
for i in range(len(trans)):
    trans[i] = [x for x in trans[i] if not x=='!']

In [5]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(trans).transform(trans)
transactions = pd.DataFrame(te_ary, columns=te.columns_)
transactions

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

# 1.1 Use minimum support as 50% and minimum confidence as 75%

In [6]:
freq_items = apriori(transactions, min_support=0.05, use_colnames=True, verbose=1)
freq_items.head(10)

Processing 6 combinations | Sampling itemset size 3 2

    support           itemsets
0  0.087200          (burgers)
1  0.081067             (cake)
2  0.060000          (chicken)
3  0.163867        (chocolate)
4  0.080400          (cookies)
5  0.051067      (cooking oil)
6  0.179733             (eggs)
7  0.079333         (escalope)
8  0.170933     (french fries)
9  0.063200  (frozen smoothie)

In [7]:
freq_items['length'] = freq_items['itemsets'].apply(lambda x: len(x))

In [8]:
freq_items.sort_values('length',ascending=False)

     support                    itemsets  length
27  0.059733  (mineral water, spaghetti)       2
26  0.050933       (mineral water, eggs)       2
25  0.052667  (mineral water, chocolate)       2
1   0.081067                      (cake)       1
24  0.058533          (whole wheat rice)       1
23  0.062533                    (turkey)       1
22  0.068400                  (tomatoes)       1
21  0.174133                 (spaghetti)       1
20  0.050533                      (soup)       1
19  0.071333                    (shrimp)       1
18  0.095067                  (pancakes)       1
17  0.065733                 (olive oil)       1
16  0.238267             (mineral water)       1
15  0.129600                      (milk)       1
0   0.087200                   (burgers)       1
13  0.098267               (ground beef)       1
12  0.132000                 (green tea)       1
11  0.052400             (grated cheese)       1
10  0.095333         (frozen vegetables)       1
9   0.063200           (frozen smoothie)       1
8   0.170933              (french fries)       1
7   0.079333                  (escalope)       1
6   0.179733                      (eggs)       1
5   0.051067               (cooking oil)       1
4   0.080400                   (cookies)       1
3   0.163867                 (chocolate)       1
2   0.060000                   (chicken)       1
14  0.076400            (low fat yogurt)       1

In [9]:
rules = association_rules(freq_items, metric="confidence", min_threshold=0.075)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(mineral water),(chocolate),0.238267,0.163867,0.052667,0.221041,1.348907,0.013623,1.073398,0.339566
1,(chocolate),(mineral water),0.163867,0.238267,0.052667,0.321400,1.348907,0.013623,1.122506,0.309351
2,(mineral water),(eggs),0.238267,0.179733,0.050933,0.213766,1.189351,0.008109,1.043286,0.209004
3,(eggs),(mineral water),0.179733,0.238267,0.050933,0.283383,1.189351,0.008109,1.062957,0.194090
4,(mineral water),(spaghetti),0.238267,0.174133,0.059733,0.250699,1.439698,0.018243,1.102184,0.400941

In [10]:
rules.sort_values('confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
5,(spaghetti),(mineral water),0.174133,0.238267,0.059733,0.343032,1.439698,0.018243,1.159468,0.369806
1,(chocolate),(mineral water),0.163867,0.238267,0.052667,0.321400,1.348907,0.013623,1.122506,0.309351
3,(eggs),(mineral water),0.179733,0.238267,0.050933,0.283383,1.189351,0.008109,1.062957,0.194090
4,(mineral water),(spaghetti),0.238267,0.174133,0.059733,0.250699,1.439698,0.018243,1.102184,0.400941
0,(mineral water),(chocolate),0.238267,0.163867,0.052667,0.221041,1.348907,0.013623,1.073398,0.339566
2,(mineral water),(eggs),0.238267,0.179733,0.050933,0.213766,1.189351,0.008109,1.043286,0.209004

# 1.1 Use minimum support as 60% and minimum confidence as 60%

In [11]:
freq_items = apriori(transactions, min_support=0.006, use_colnames=True, verbose=1)
freq_items.head(10)

Processing 2512 combinations | Sampling itemset size 43

    support             itemsets
0  0.020267            (almonds)
1  0.008800  (antioxydant juice)
2  0.033200            (avocado)
3  0.008667              (bacon)
4  0.010800     (barbecue sauce)
5  0.014267          (black tea)
6  0.009200        (blueberries)
7  0.011467         (body spray)
8  0.033733           (brownies)
9  0.008667          (bug spray)

In [12]:
freq_items['length'] = freq_items['itemsets'].apply(lambda x: len(x))

In [13]:
freq_items.sort_values('length',ascending=False)

      support                                      itemsets  length
555  0.006267  (mineral water, spaghetti, whole wheat rice)       3
477  0.006933         (mineral water, green tea, chocolate)       3
479  0.006133                (milk, ground beef, chocolate)       3
480  0.010933       (mineral water, ground beef, chocolate)       3
481  0.009200           (spaghetti, ground beef, chocolate)       3
..        ...                                           ...     ...
69   0.006533                                    (pet food)       1
70   0.006000                                     (pickles)       1
71   0.018533                                 (protein bar)       1
72   0.028133                                    (red wine)       1
0    0.020267                                     (almonds)       1

[556 rows x 3 columns]

In [14]:
rules = association_rules(freq_items, metric="confidence", min_threshold=0.006)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(almonds),(chocolate),0.020267,0.163867,0.006000,0.296053,1.806668,0.002679,1.187778,0.455731
1,(chocolate),(almonds),0.163867,0.020267,0.006000,0.036615,1.806668,0.002679,1.016970,0.534000
2,(almonds),(eggs),0.020267,0.179733,0.006533,0.322368,1.793593,0.002891,1.210491,0.451613
3,(eggs),(almonds),0.179733,0.020267,0.006533,0.036350,1.793593,0.002891,1.016690,0.539410
4,(mineral water),(almonds),0.238267,0.020267,0.007467,0.031337,1.546255,0.002638,1.011429,0.463779

In [15]:
rules.sort_values('confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
1122,"(frozen vegetables, olive oil)",(mineral water),0.011333,0.238267,0.006533,0.576471,2.419434,0.003833,1.798537,0.593406
1260,"(soup, milk)",(mineral water),0.015200,0.238267,0.008533,0.561404,2.356198,0.004912,1.736752,0.584471
948,"(eggs, cooking oil)",(mineral water),0.011733,0.238267,0.006400,0.545455,2.289261,0.003604,1.675813,0.569864
1098,"(frozen vegetables, ground beef)",(mineral water),0.016933,0.238267,0.009200,0.543307,2.280248,0.005165,1.667933,0.571122
1278,"(turkey, milk)",(mineral water),0.011333,0.238267,0.006133,0.541176,2.271306,0.003433,1.660188,0.566141
...,...,...,...,...,...,...,...,...,...,...
1015,(mineral water),"(eggs, low fat yogurt)",0.238267,0.016800,0.006133,0.025741,1.532230,0.002130,1.009178,0.456008
1129,(mineral water),"(pancakes, frozen vegetables)",0.238267,0.013467,0.006133,0.025741,1.911495,0.002925,1.012599,0.626006
1279,(mineral water),"(turkey, milk)",0.238267,0.011333,0.006133,0.025741,2.271306,0.003433,1.014789,0.734804
1051,(mineral water),"(french fries, frozen vegetables)",0.238267,0.019067,0.006133,0.025741,1.350077,0.001590,1.006851,0.340410
1237,(mineral water),"(herb & pepper, spaghetti)",0.238267,0.016267,0.006000,0.025182,1.548066,0.002124,1.009146,0.464772